body{
    overflow: hidden;
}

span{
    color: #FFCB2F;
}

.nav {
    position: fixed;
    top: 50%;
    right: 15px;
    cursor: pointer;
}

li {
    width: 10px;
    height: 10px;
    margin: 20px;
    border: 1px #fff solid;
    border-radius: 5px;
    list-style-type: none;
}

.dark{
    background-color: #20222E;
    background: url(./img/dark.png);

}

.purple{
    background-color: #595BD4;
    background: url(./img/purple.png);
    /* position: relative; */
}

.yellow{
    background-color: #FFCB2F;
    background: url(./img/yellow.png);
}

.orange{
    background-color: #FE9526;
    background: url(./img/orange.png);

}

.blue{
    background-color: #167FFC;
    background: url(./img/blue.png);

}

.lightblue{
    background-color: #167FFC;
    background: url(./img/lightblue.png);
}

/* --------------------------------- dark -------------------------------- */

.text1{
    font-size: 6rem;
}

.font1{
    font-family: 'Noto Serif TC', serif;
}

.font2{
    font-family: 'GenSenRounded-B', sans-serif;
}
@font-face {
    font-family:'GenSenRounded-B' ;
    src: url(./font/gensen-font-master/ttc/GenSenRounded-B.ttc);
}

.font3{
    font-family: 'Dela Gothic One', cursive;
}

.font4{
    font-family: 'mushin', serif;
}

@font-face {
    font-family:'mushin' ;
    src: url(./font/MODI_mushin_2021_1104/mushin.otf);
}

.font5{
    font-family: 'Noto Sans TC', sans-serif;
}

.font6{
    font-family: '刻石錄顏體_I.Ngaan', serif;
}

@font-face {
    font-family:'刻石錄顏體_I.Ngaan' ;
    src: url(./font/刻石錄顏體_I.Ngaan.ttf);
}

.font7{
    font-family: 'GenSenRounded-R', sans-serif;
}

@font-face {
    font-family:'GenSenRounded-R' ;
    src: url(./font/gensen-font-master/ttc/GenSenRounded-R.ttc);
}

section{
    /* position: relative; */
    width: 100%;
    height: 100vh;
}

section .scroll{
    width: 100%;
    display: flex;
}

section .scroll div{
    white-space: nowrap;
    animation: animate 40s linear infinite;
    animation-delay: -40s;

}

section .scroll div:nth-child(2){
    animation: animate2 40s linear infinite ;
    animation-delay: -20s;
}

@keyframes animate {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.gradient{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: #FFCB2F;
    background:linear-gradient(rgba(0,0,0,0) 80%,rgba(0,0,0,0.7)100%) ;
}

.mouse{
    position:absolute;
    z-index: 22;
    width: 30px;
    height: 50px;
    border: 3px white solid;
    border-radius: 50px;
    animation: mouseSlide 3s ease-in-out infinite ;
    display: flex;
    box-shadow: 1px 3px 12px 9px rgba(0,0,0,0.04);
    left: 50%;
    top: 82%;
}

.wheel{
    position: absolute;
    top: 10px;
    left: calc(50% - 3px);
    width: 6px;
    height: 8px;
    border-radius: 8px;
    border: 1px white solid;
    background-color: white;
    animation: wheel 2s ease infinite;
}

@keyframes mouseSlide {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}

@keyframes wheel {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(10px);
        opacity: 0;
    }
}

/* --------------------------------- purple -------------------------------- */
.container{
    z-index: 2;
}
h4{
    font-size: 3rem;
    padding-top: 40px;
    padding-bottom: 12px;
    line-height: 1.25;
}

h5{
    font-size: 28px;
    line-height: 1.4;
}

.purple .title{
    width: 532px;
}

.purple .fontCard{
    height: 320px;
    border-radius: 16px;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.25);
}

.fontCard{
    /* perspective: 800px; */
    position: relative;
    transform-style: preserve-3d;
    transition: .8s cubic-bezier(.44,-0.77,.16,1.42);
}

.front{
    backface-visibility: hidden;
    position: absolute;
    left:50%;
    transform: translate(-50%) translateZ(70px);
    
}

.back{
    transform: rotateY(180deg) translateZ(70px);
    backface-visibility: hidden;
}

.fontCard:hover{
    transform: rotateY(180deg) ;
}

@keyframes rotateY {
    0%{
        transform: rotateY(0deg)
    }

    100%{
        transform: rotateY(180deg)
    }
}

.front h2{
    font-size: 200px;
    line-height: 1.4;
}

.frontTitle h6{
    font-size: 32px;
    /* font-weight: 700; */
}

.frontTitle .content{
    line-height: 140%;
}

.back .content .p1{
    font-size: 18px;
    font-weight: normal;
}

.fontCard2 .p2{
    font-size: 20px;
}

.fontCard2 .p3{
    font-size: 18px;
}

.fontCard4 .p4{
    font-size: 24px;
}

.fontCard4 .p5{
    font-size: 30px;
}

.fontCard4 .p6{
    font-size: 25px;
}

.fontCard4 h6{
    font-size: 48px;
}

@media screen and (max-width:576px) {
    h4{
        font-size: 2rem;
        padding-top: 16px;
        padding-bottom: 2px;
    }
    
    h5{
        font-size: 1rem;
    }

    .purple .title{
        width: 320px;
    }

    .purple .fontCard{
        height: 140px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    }
}

.bgDeco svg{
    opacity: 0.5;
    mix-blend-mode: multiply;
}
.bgDeco{
    width: 100%;
    height: 100vh;
    position: relative;
}

.positionLeftTop{
    position: absolute;
    top: -100px;
    left: 0px;
}

.positionRightTop{
    position: absolute;
    top: -100px;
    right: 0px;
}

.positionRightBottom{
    position: absolute;
    bottom: -50px;
    right: 0px;
}

.positionLeftBottom{
    position: absolute;
    bottom: -100px;
    left: 100px;
}


.aniHorizontalRight{
    animation: HorizontalRight 150s infinite linear 5s ;
}

@keyframes HorizontalRight {
    0%, 100%{
        transform: translateX(-200px);
    }

    50%{
        transform: translateX(1400px);
    }
}

.aniHorizontalLeft{
    animation: HorizontalLeft 150s infinite linear ;
}

@keyframes HorizontalLeft {
    0%, 100%{
        transform: translateX(200px);
    }

    50%{
        transform: translateX(-1900px);
    }
}

.aniVerticalTop{
    animation: VerticalTop 120s infinite linear 5s;
}

@keyframes VerticalTop {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-900px);
    }
}

.aniVerticalDown{
    animation: VerticalDown 120s infinite linear ;
}

@keyframes VerticalDown {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(900px);
    }
}

/* --------------------------------- footer -------------------------------- */

footer{
    width: 100%;
    height: 60px;
}

